.#{$namespace}-link {
  &--icon {
    display: flex;
    align-items: center;

    span:first-child {
      display: inline-block;
      width: 17px;
      margin-right: 12px;
    }

    svg {
      fill: currentColor;
      display: block;
      margin: 0 auto;
    }
  }
}
