$baseClassname: '.#{$namespace}-toggler-facet';

#{$baseClassname} {
  &-list {
    display: flex;
    margin-bottom: 0;

    border: 1px solid $color__stroke;
    border-radius: 2px;
  }

  &-list-item {
    border-left: 1px solid $color__stroke--facets;

    &:first-child {
      border-left: 0 none;
    }

    label {
      display: block;
      background-color: $color__bg--facets;
      color: $color__text__secondary;
      padding: 9px 20px 9px;
      cursor: pointer;

      &:first-child {
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
      }
    }

    input[type="radio"] {
      position: absolute;
      left: -9999px;
    }

    input[type="radio"]:checked + label,
    label:hover {
      background-color: $color__white;
      color: $color__text;
    }
  }

  .#{$namespace}-facets & {
    width: 100%;
    margin-bottom: 15px;

    #{$baseClassname}-list {
      flex-flow: row wrap;
    }

    #{$baseClassname}-list-item {
      width: 50%;
      text-align: center;

      &:first-child {
        width: 100%;
        border-bottom: 1px solid $color__stroke--facets;
      }

      &:nth-child(2) {
        border: 0;
      }
    }
  }
}
