$baseClassname: '.#{$namespace}-search-results-header';
$sellersResultsBaseClassname: '.#{$namespace}-sellers-results-header';

#{$baseClassname} {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  &-left-facet {
    justify-self: flex-start;
    flex: 0 1 auto;
  }

   &-right-facet {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    flex: 1;

    text-align: right;
  }

  &:not(#{$sellersResultsBaseClassname}) {
    @include mq($until: small) {
      display: none;
    }
  }
}

#{$sellersResultsBaseClassname} #{$baseClassname}-left-facet {
  @include mq($until: small) {
    flex: 1 1 100%;
  }
}
